---
layout: default
---

<!-- Lightbox2 CSS -->
<link href="{{ '/assets/lightbox/css/lightbox.min.css' | relative_url }}" rel="stylesheet">

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          <span class="subheading">{{ page.subtitle }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Gallery Content -->
<div class="container">
  <div class="row">
    {% for image in site.data.gallery-images %}
    <div class="col-md-4">
      <div class="gallery-item">
        <a href="{{ image.url }}" data-lightbox="gallery" data-title="{{ image.caption }}">
          <img src="{{ image.url }}" alt="{{ image.caption }}" class="img-fluid">
        </a>
        <p>{{ image.caption }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Lightbox2 JavaScript -->
<script src="{{ '/assets/lightbox/js/lightbox.min.js' | relative_url }}"></script>
