---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1 style="font-size: 55px;">{{ site.title }}</h1>
          {% if site.description %}
          <span class="subheading" style="font-size: 40px;">{{ site.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <h2>Search Experiments</h2>
      <form id="interestForm">
        <div class="form-group d-flex justify-content-center">
          <input type="text" id="userInterest" class="form-control w-50" placeholder="Enter your search here" required>
        </div>
        <div class="form-group d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div id="suggestedExperiments" class="mt-4"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- Manually Added Links -->
      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/peripheralvis_workshop/html/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/peripheralvis_workshop/html/">
          <h2 class="post-title">Peripheral Vision Workshop</h2>
          <h3 class="post-subtitle">Explore the science of peripheral vision.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/saccadetime_workshop/html/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/saccadetime_workshop/html/">
          <h2 class="post-title">Saccade Vision Workshop</h2>
          <h3 class="post-subtitle">Explore the science of saccade vision.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/anna5/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/anna5/">
          <h2 class="post-title">Series of Cognitive Tests</h2>
          <h3 class="post-subtitle">Engage with a variety of cognitive tasks.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/faces9/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/faces9/">
          <h2 class="post-title">Remembering Faces</h2>
          <h3 class="post-subtitle">Test your memory for human faces.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://pavlovia.org/Hartwell/memoryobjects26" class="experiment-link" data-url="https://pavlovia.org/Hartwell/memoryobjects26">
          <h2 class="post-title">Remembering Shapes</h2>
          <h3 class="post-subtitle">Explore memory for geometric shapes.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/movingdots4/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/movingdots4/">
          <h2 class="post-title">Remembering Moving Trajectories</h2>
          <h3 class="post-subtitle">Test your memory for moving objects.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://pavlovia.org/Hartwell/priorityobjs2" class="experiment-link" data-url="https://pavlovia.org/Hartwell/priorityobjs2">
          <h2 class="post-title">Attention to Shape or Color</h2>
          <h3 class="post-subtitle">Explore how attention is prioritized.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/sceneanalysis/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/sceneanalysis/">
          <h2 class="post-title">Identifying Scenes</h2>
          <h3 class="post-subtitle">Test your ability to identify different scenes.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/tempimages4/" class="experiment-link" data-url="https://run.pavlovia.org/Hartwell/tempimages4/">
          <h2 class="post-title">Remembering Images</h2>
          <h3 class="post-subtitle">Test your memory for images.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://pavlovia.org/Hartwell/transformationta" class="experiment-link" data-url="https://pavlovia.org/Hartwell/transformationta">
          <h2 class="post-title">Visual Object Rotation</h2>
          <h3 class="post-subtitle">Explore your ability to visualize object rotation.</h3>
        </a>
      </article>

      <hr>
    </div>
  </div>
</div>

<script src="{{ '/assets/js/similarity.js' | relative_url }}"></script>
<script>
  document.getElementById('interestForm').addEventListener('submit', function(e) {
    e.preventDefault();

    // Get the user's interest input
    var interest = document.getElementById('userInterest').value.toLowerCase();

    // List of experiments with keywords and links
    var experiments = [
      { name: 'Peripheral Vision Workshop', keywords: ['peripheral', 'vision', 'acuity'], url: 'https://run.pavlovia.org/Hartwell/peripheralvis_workshop/html/' },
      { name: 'Saccade Vision Workshop', keywords: ['saccade', 'vision', 'time'], url: 'https://run.pavlovia.org/Hartwell/saccadetime_workshop/html/' },
      { name: 'Series of Cognitive Tests', keywords: ['cognitive', 'tests'], url: 'https://run.pavlovia.org/Hartwell/anna5/' },
      { name: 'Remembering Faces', keywords: ['memory', 'faces'], url: 'https://run.pavlovia.org/Hartwell/faces9/' },
      { name: 'Remembering Shapes', keywords: ['memory', 'shapes'], url: 'https://pavlovia.org/Hartwell/memoryobjects26' },
      { name: 'Remembering Moving Trajectories', keywords: ['memory', 'moving', 'trajectories'], url: 'https://run.pavlovia.org/Hartwell/movingdots4/' },
      { name: 'Attention to Shape or Color', keywords: ['attention', 'shape', 'color'], url: 'https://pavlovia.org/Hartwell/priorityobjs2' },
      { name: 'Identifying Scenes', keywords: ['scenes', 'identification'], url: 'https://run.pavlovia.org/Hartwell/sceneanalysis/' },
      { name: 'Remembering Images', keywords: ['memory', 'images'], url: 'https://run.pavlovia.org/Hartwell/tempimages4/' },
      { name: 'Visual Object Rotation', keywords: ['visual', 'object', 'rotation'], url: 'https://pavlovia.org/Hartwell/transformationta' }
    ];

    // Function to find matching experiments based on cosine similarity
    function findMatchingExperiments(interest) {
      var matchingExperiments = [];
      experiments.forEach(experiment => {
        experiment.keywords.forEach(keyword => {
          if (areStringsSimilar(interest, keyword, 0.75)) {
            if (!matchingExperiments.some(exp => exp.name === experiment.name)) {
              matchingExperiments.push({
                name: experiment.name,
                url: experiment.url
              });
            }
          }
        });
      });
      return matchingExperiments.length ? matchingExperiments : [{ name: "Sorry, we couldn't find any matching experiments.", url: '' }];
    }

    // Get the suggested experiments
    var suggestedExperiments = findMatchingExperiments(interest);

    // Display the suggested experiments as clickable links
    document.getElementById('suggestedExperiments').innerHTML = suggestedExperiments.map(experiment => 
      `<h3><a href="${experiment.url}">${experiment.name}</a></h3>`
    ).join('');
  });
</script>
