---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ site.title }}</h1>
          {% if site.description %}
          <span class="subheading">{{ site.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {{ content }}

      <!-- Manually Added Links -->
      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/peripheralvis_workshop/html/">
          <h2 class="post-title">Peripheral Vision Workshop</h2>
          <h3 class="post-subtitle">Explore the science of peripheral vision.</h3>
        </a>
      </article>

      <hr>

      <article class="post-preview">
        <a href="https://run.pavlovia.org/Hartwell/saccadetime_workshop/html/">
          <h2 class="post-title">Saccade Vision Workshop</h2>
          <h3 class="post-subtitle">Explore the science of saccade vision.</h3>
        </a>
      </article>

      <hr>

    </div>
  </div>
</div>
